:root {
    --color-bg: #ffffff;
    --color-bg-alt: #f4f4f4;
    --color-text: #000000;
    --color-text-muted: #5c5c5c;
    --color-border: #ccc;
    --color-border-alt: #bbb;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: #121212;
      --color-bg-alt: #1e1e1e;
      --color-text: #e0e0e0;
      --color-text-muted: #a0a0a0;
      --color-border: #333;
      --color-border-alt: #444;
    }
  }
  body { 
    font-family: system-ui, sans-serif; margin: 0; 
    overflow: hidden; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
  }
  footer { 
    background: var(--color-bg-alt); 
    padding: 0.75rem 1rem; 
    position: sticky; 
    bottom: 0; 
    display: flex; 
    gap: 1rem; 
    z-index: 1000; 
    align-items: center; 
    border-top: 1px solid var(--color-border); 
    height: 3rem;
  }
  select, button { 
    font-size: 1rem; 
    padding: 0.3rem 0.5rem; 
    color: var(--color-text); 
    background: var(--color-bg); 
    border: 1px solid var(--color-border); 
    border-radius: 4px; 
  }

  iframe { 
    border: none; 
    width: 100%; 
    height: calc(100vh - 3rem); 
  }

  #manifest-error { 
    color: red; 
    padding: 1rem;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #url {
    font-family: monospace;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: auto;
    color: var(--color-text-muted);
  }

  .field-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.3rem;
  }
  .field-label {
    font-size: .8rem;
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--color-text-muted);
  }
  .field {
    border: 1px solid var(--color-border);
    border-radius: 4px;
    background: var(--color-bg);
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    max-width: 300px;
  }

  #url-container {
    margin-left: auto;
  }

  #url-container .field {
    background: var(--color-bg-alt);
    border: 1px solid var(--color-border-alt);
    cursor: default;
    user-select: all;
    min-width: 200px;
    max-width: 100%;
  }

  .cover-view {
    border: none; 
    width: 100%; 
    height: calc(100vh - 3rem); 
    background: var(--color-bg);
    color: var(--color-text);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    display: none;
  }

  /** Initial state handling **/

  #preview:not([src]) {
    display: none;
  }

  #preview:not([src]) ~ #initial-state {
    display: flex;
  }

  #preview:not([src]) ~ footer #date-container,
  #preview:not([src]) ~ footer #url-container {
    display: none;
  }